.reg-frame {
    background-color: gray;
    width: 100%;
    height: 730px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reg-content {
    background-color: white;
    width: 327px;
    height: 310px;
    border-radius: 21px 0px 0px 21px;
    box-shadow: 0px 0px 22px -6px #88888a;
}
.reg-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}
.img-disp {
    width: 200px;
    border-radius: 92px;
}
.main-frame {
    background-color: white;
    width: 312px;
    height: 390px;
    border-radius: 10px;
    box-shadow: 0px 0px 22px 1px #88888a;
}
.main-title {
    display: flex;
    justify-content: space-around;
    margin-top: 11px;
}
.btn {
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
    color: #ccbdbd;
}
@media screen and (max-width: 600px) {
    .reg-content {
        display: none;
   }
}
@media screen and (max-width: 360px) {
    .reg-frame {
        height: 640px;
   }
}
@media screen and (max-width: 320px) {
    .reg-frame {
        height: 568px;
   }
}
