.footer-area{
    background-color: #2E1D1E !important;
    height: 24px;
    display: flex;
    justify-content: flex-start;
    padding: 21px;
    color: white;
    padding-left: 94px;
    // width: 900px;
}

@media only  screen and (width: 360px) {
    .footer-area{
        width: 78%;
    }
}
@media screen and (width: 411px) {
    .footer-area {
        width: 850px;
       font-size: 11px;
    }

}
@media screen and (width: 320px) {
    .footer-area {
        padding-left: 62px;
    font-size: 9px;
    }

}


